#conteudodaaula{
    font-family: 'Cardo', serif;
    padding: 2%;
    text-align: justify;
}
#conteudodaaula h2{
    font-family: 'Cinzel', serif;
    color: #6d6b6a;
}


body {
    margin: 0px;
}

p{
	color: #6d6b6a;
	font-family: 'Cardo', serif;
	font-size: 14px;
}
.banner{
	width: 100%;
}


#menu a:link{
	color: #6d6b6a;
	text-decoration: none;
}
#menu a:visited{
	color: #6d6b6a;
}
#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#menu div{
	width: 30%;
}
#menu img{
	width: 70%;
	margin-left: 15%;
}
#opcoes{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	text-align: right;
}
#opcoes div{
	width: 45%;
}
#menu h3{
	font-family: 'Cinzel', serif;
}

#infos{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10px;
        margin-bottom: 10px;
	align-items: center;
}
#infos div{
	width: 30%;
}
#info1 img{
	width: 70%;
	margin-left: 15%;
}
#info2 div{
	display: flex;
	flex-direction: row;
	height: 32px;
	margin-bottom: 5px;
}
#info2 div p{
	margin: 5px;
}
#texto1{
	margin-top:0px;
}
#info3 h3{
	color: #6d6b6a;
	text-align: center;
	font-family: 'Cinzel', serif;
	margin-top:0px;
}
#info3 form{
	color: #efe8c2;
	text-align: center;
}
.caixaEntraInfo{
	border: solid 2px #efe8c2;
	color: #6d6b6a;
	font-family: 'Cardo', serif;
	width: 200px;
	height: 25px;
	font-size: 15px;
	padding-left: 10px;
}
.caixaEntraInfo1{
	border: solid 2px #efe8c2;
	color: #6d6b6a;
	font-family: 'Cardo', serif;
	width: 100px;
	height: 25px;
	font-size: 15px;
	padding-left: 10px;
}


.botao{
	background-color:#efe8c2;
	color: #6d6b6a;
	border: none;
	font-family: 'Cardo', serif;
	width: 80px;
	height: 30px;
	text-align: center;
	font-size: 15px;
}
.botao1{
	background-color:#efe8c2;
	color: #6d6b6a;
	border: none;
	font-family: 'Cardo', serif;
	width: 200px;
	height: 50px;
	text-align: center;
	font-size: 15px;
}








#produto{
	width: 70%;
	display: flex;
	justify-content: space-around;
	margin: auto;
	text-align: left;
	margin-top: 100px;
	margin-bottom: 100px;
}
#produto h2{
	color: #6d6b6a;
	font-family: 'Cinzel', serif;
	margin-top: 0px;
}

#produto img{
	width: 80%;
	margin: auto;
}
#produto div{
	width: 50%;
}
#produto button{
	background-color:#efe8c2;
	color: #6d6b6a;
	border: none;
	font-family: 'Cardo', serif;
	width: 80px;
	height: 30px;
	text-align: center;
	font-size: 15px;
}



#colecoes{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}
#colecoes h3{
	color: #6d6b6a;
	text-align: center;
	font-family: 'Cinzel', serif;
}
#colecoes div{
	width: 18%;
}
#colecoes img{
	width: 100%;
}

#colecoes a:link{
	color: #6d6b6a;
	text-decoration: none;
}
#colecoes a:visited{
	color: #6d6b6a;
}








#meuCarrinho{
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: auto;
	font-family: 'Cinzel', serif;
	color: #6d6b6a;
}
#meuCarrinho h4{
	margin-top: 0px;
}
#campos{
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}
#campoProduto{
	width: 40%;
}
.outroCampo{
	width: 20%;
	text-align: right;
}
.produtoNoCarrinho{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 10px;
}
.sobreProduto{
	width: 40%;
	display: flex;
	flex-direction: row;
        text-align: left;
}
.sobreProduto div{
	width: 40%;
	margin-right: 5%;
}
.sobreProduto img{
	width: 100%;
}
.outroSobre{
	width: 20%;
	text-align: right;
}
.quantidade{
	border: solid 2px #efe8c2;
	color: #6d6b6a;
	font-family: 'Cardo', serif;
	width: 80px;
	height: 25px;
	font-size: 15px;
	padding-left: 10px;
	
}
#resumo h3{
	font-family: 'Cinzel', serif;
	color: #6d6b6a;

}

